.App {
  text-align: center;
}

#App-logo {
  height: 40vmin;
  /* animation-iteration-count: 2; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* #yourElement {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: 2;
} */